
<%- include header.ejs %>
    <meta charset="UTF-8">
    <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
  <body>
      <div class="splash-screen" id="splashscreenid">
        <div class="nav-bar-container">
            <div class="nav-wrapper">
                <div class="left-side">
                    <div class="nav-link-wrapper">
                        <a href="html/index1.html"> User </a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="admin.html"> Admin login </a>
                    </div>
                </div>
                <div class="right-side">
                    <div class="brand">
                        <div>ParkEasy</div>
                    </div>
                </div>
            </div>
      </div>
      
  </body>